body {
    background-color: gray;
    margin: 0;
    color: white;
    justify-content: center;
    align-items: center;
}
.container {
    background-color: rgb(25, 87, 107);
    padding: 3rem;
    border-radius: 1rem;
    border: 3px black;
    justify-content: center;
    align-items: center;
    float: left;
}
.form {
    display: grid;
    grid-template-columns: auto auto;
    row-gap: 1rem;
    column-gap: 3rem;
    justify-content: center;
}
label {
    font-weight: bolder;
}
.password-display {
    background-color: black;
    padding: 1rem;
    border:  1px solid white;
    height: 2rem;
    justify-content: center;
    text-align: center;
    align-items: center;
    word-break: break-all;
}

.btn {
    padding: .5rem;
    grid-column: span 2;
    cursor: pointer;
    background-color: transparent;
}
.btn:hover {
    background-color: white;
}